@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);
*:focus {
  outline: none;
}

:root {
  --card-blue: #0063B3;
  --card-green: #18A849;
  --card-red: #C72A18;
  --card-yellow: #E6CA1E;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Titan One", cursive;
  color: #fff;
  background: linear-gradient(117deg, rgb(233, 17, 107) 0%, rgb(224, 37, 75) 20%, rgb(221, 37, 74) 49%, rgb(247, 20, 66) 70%, rgb(221, 49, 83) 86%, rgb(215, 63, 94) 100%);
  background-size: 400% 400%;
  animation: background_gradient 15s ease infinite;
}

#menu-screen {
  z-index: 1000;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
}

#menu-screen * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes background_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes title {
  0% {
    margin-top: -30px;
    padding-bottom: 40px;
  }
  50% {
    margin-top: 0;
    padding-bottom: 10px;
  }
  100% {
    margin-top: -30px;
    padding-bottom: 40px;
  }
}
.menu-container {
  display: none;
  margin-top: 34vh;
}

.title {
  font-size: 1200%;
  margin: 0;
  animation: title 1.2s ease infinite;
}

.menu-footer {
  position: absolute;
  bottom: 0.7em;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8784313725);
  font-size: 75%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu-footer p {
  margin: 0;
}

.menu-footer a {
  color: rgba(209, 209, 209, 0.8784313725);
  text-decoration: none;
}

.menu-footer a:hover {
  text-decoration: underline;
}

button {
  font-family: "Titan One", cursive;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  font-size: 200%;
  transition: 0.2s;
}

#play {
  background-color: var(--card-green);
}

#play:hover {
  margin-top: 2px;
  background-color: #1aba4f;
}

.create-room {
  background-color: #30de6a;
}

.create-room:hover {
  background-color: #15d254;
}

.join-room {
  background-color: #1554d2;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.join-room:hover {
  background-color: #2355b8;
}

#games-container {
  display: none;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#games-container .head {
  display: flex;
  background-color: rgba(183, 110, 102, 0.4196078431);
  padding: 1em;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#games-container .head div {
  display: flex;
  margin: 0 1rem;
}

#games-container .head div .room-code,
.nickname {
  font-size: 200%;
  width: 200px;
  font-family: "Titan One", cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 0;
  color: #000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1rem;
  text-align: right;
}

.room-code::-moz-placeholder {
  color: #1554d2;
}

.room-code::placeholder {
  color: #1554d2;
}

.room-list {
  height: 40vh;
  background-color: rgba(163, 163, 163, 0.4117647059);
  overflow-x: hidden;
}

.room-list .item {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.room-list .item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.room-list .item div {
  flex: 1 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px;
  margin: auto 0.5em;
}

.footer {
  background-color: rgba(163, 163, 163, 0.4117647059);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px;
}

.refresh {
  background-color: #38a1fd;
}

.refresh:hover {
  background-color: #2e84cf;
}

.refresh[disabled],
.refresh:disabled {
  cursor: auto;
  color: #c3c3c3;
  background-color: #2469a5;
}

#nickname,
#limbo {
  background-color: rgba(183, 110, 102, 0.4196078431);
  padding: 1em;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#limbo {
  max-width: 400px;
}

.nickname {
  border-radius: 20px;
  text-align: left;
  width: 350px;
}

#nickname div {
  margin: 1rem;
}

.cancel {
  position: absolute;
  right: 0;
  margin: 1rem;
  color: #626261;
  text-align: center;
  cursor: pointer;
  font-size: 200%;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.cancel:hover {
  color: #404040;
}

.room-settings {
  display: none;
}

.continue {
  background-color: #38fd9a;
  width: 350px;
  text-align: center;
}

.continue:hover {
  background-color: #29df84;
}

.code p {
  font-size: 200%;
  margin: 1rem;
}

#room-code {
  color: #f00fff;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

.limbo-player-item {
  pointer-events: none;
  cursor: auto;
  overflow: hidden;
}

.limbo-player-item:hover {
  text-decoration: underline;
}

.limbo-admin {
  display: none;
}

.limbo-start,
.scores-start {
  font-size: 150%;
  padding: 10px 20px;
  margin-top: 0.5rem;
  background-color: #24cf2e;
}

.limbo-start:hover,
.scores-start:hover {
  background-color: #1bb925;
}

#overlay {
  background: linear-gradient(117deg, rgb(17, 97, 233) 0%, rgb(37, 119, 224) 20%, rgb(35, 95, 242) 49%, rgb(20, 131, 247) 70%, rgb(49, 113, 221) 86%, rgb(86, 63, 215) 100%);
  background-size: 400% 400%;
  animation: background_gradient 15s ease infinite;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
  overflow: hidden;
}

.you {
  position: absolute;
  z-index: 900 !important;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

.opponent .my-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: cards-in 1s ease-in forwards;
}

.player {
  position: absolute;
  width: 100%;
  display: none;
  z-index: 20;
}

.player.num-4-2,
.player.num-2-1 {
  transform: translate(0%, 0%) rotate(180deg);
}

.player.num-4-1,
.player.num-3-1 {
  transform: translate(-37%, 176%) rotate(90deg);
}

.player.num-4-3,
.player.num-3-2 {
  transform: translate(37%, 176%) rotate(270deg);
}

.opponent {
  pointer-events: none;
}

.player-nickname {
  text-align: center;
  font-size: 200%;
  color: rgba(255, 255, 255, 0.6901960784);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.turn {
  text-decoration: underline;
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  color: #fff;
}

.my-cards {
  display: none;
  align-items: center;
  justify-content: center;
  animation: cards-in 1s ease-in forwards;
}

.center,
.center-plus,
.select-color,
.loading-container,
.round-container,
.uno,
.uno-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 200;
}

.center > div {
  margin: 40px;
}

.center .center-card {
  pointer-events: none;
  cursor: auto;
}

.color-selector-container {
  background-color: transparent !important;
}

.select-color {
  background: rgba(4, 4, 4, 0.4509803922);
  padding: 75px;
  border-radius: 40px;
}

.color-selector {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #fff;
  overflow: hidden;
  font-size: 0px;
}

.color-selector .segment {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  transition: 0.1s;
}

.segment.blue:hover {
  background: var(--card-blue);
}

.segment.green:hover {
  background: var(--card-green);
}

.segment.red:hover {
  background: var(--card-red);
}

.segment.yellow:hover {
  background: var(--card-yellow);
}

.center-plus {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  font-size: 800%;
  text-shadow: 0px 0px 8px #dffbff, 0px 0px 10px #3f7277, 0px 0px 5px #0c5e32, 1px 10px 15px #1a7144, 0px -5px 14px #4c561d, 3px 1px 9px rgba(21, 17, 105, 0.8);
}

#scores {
  width: 290px;
  background-color: rgba(0, 0, 0, 0.5803921569);
  border-radius: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 0.5em;
  z-index: 300;
}

#scores * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.scores-title {
  margin: 0.45em auto;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6196078431);
}

.admin-buttons {
  display: none;
  padding: 0.25em;
  display: flex;
  justify-content: center;
}

.score {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  overflow-x: hidden;
  padding: 0.5em 1em;
}

.score div {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score div:last-child {
  text-align: right;
}

@keyframes cards-in {
  from {
    margin-bottom: -850px;
  }
  to {
    margin-bottom: 0;
  }
}
.timeout {
  position: absolute;
  bottom: 2%;
  right: 2%;
  text-align: right;
  font-size: 400%;
  color: #000;
  -webkit-text-fill-color: #ffe000;
  -webkit-text-stroke: 3px;
  animation: cards-in 1s ease-in forwards;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.uno {
  color: #000;
  font-family: "Source Sans Pro";
  -webkit-text-fill-color: #000;
  font-size: 250%;
  transform: rotate(351deg) translate(120%, -10%);
  border-radius: 70%;
  background-color: #B3C8CF;
  padding: 0.5rem 1.75rem;
  transition: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
  z-index: 150;
  animation: uno 2s linear forwards;
}

.uno:hover {
  background-color: #BED7DC;
  -webkit-text-fill-color: #F1EEDC;
}

.uno:active {
  translate: 0 4%;
}

@keyframes uno {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.uno-message {
  transform: translate(-300%, -50%);
  max-width: 100px;
  max-height: 200px;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  word-break: break-word;
  display: none;
  animation: uno-message 4s linear forwards;
  opacity: 0;
}

@keyframes uno-message {
  25%, 75% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
}
#chat-room {
  position: absolute;
  left: 0.75em;
  bottom: 0;
  z-index: 1000;
  min-width: 320px;
  max-width: 320px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.chat-head {
  background-color: #1157b7;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: 0.5s;
}

.chat-head:hover {
  background-color: rgba(15, 79, 168, 0.968627451);
}

.chat-head h1 {
  margin: 0;
}

.chat-head .chat-switch {
  margin: 0;
  text-align: right;
}

.chat {
  background-color: rgba(23, 93, 189, 0.9294117647);
}

.chat-messages {
  max-height: 240px;
  height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.chat-messages > .chat-item:last-child {
  scroll-snap-align: end;
}

#overlay *::-webkit-scrollbar-track {
  background: rgba(26, 119, 248, 0.5529411765);
}

#overlay *::-webkit-scrollbar-thumb {
  background: rgba(241, 241, 241, 0.3098039216);
}

#overlay *::-webkit-scrollbar-thumb:hover {
  background: rgba(193, 193, 193, 0.3098039216);
}

.chat-item {
  display: flex;
}

.chat-item * {
  margin: 2px 4px;
}

.chat-item .sender {
  max-width: 150px;
  overflow: hidden;
}

.chat-item .message {
  overflow: hidden;
  overflow-wrap: break-word;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  white-space: break-spaces;
  flex: 3;
}

.chat-input {
  display: flex;
  justify-content: space-between;
}

.chat-input input {
  background: transparent;
  border: 0;
  color: #fff;
  width: 300px;
}

.chat-send {
  cursor: pointer;
  transition: 0.25s;
}

.chat-send:hover {
  color: #adadad;
}

#error-container,
#player-management-container,
.color-selector-container {
  position: absolute;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.231372549);
  display: none;
}

.error-head, .kick-head {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: rgba(0, 0, 0, 0.368627451);
  font-size: 200%;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}

.error-title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.error-desc {
  font-size: 20px;
}

.kick-desc {
  font-size: 30px;
  word-break: break-word;
}

.error-close, .kick-accept {
  font-size: 100%;
  padding: 5px 1rem;
  margin-top: 5px;
  background-color: #14c3ff;
}

.error-close:hover,
.kick-accept:hover {
  background-color: #12a3d3;
}

.kick-decline {
  font-size: 100%;
  padding: 5px 1rem;
  margin-top: 5px;
  background-color: #cd1414;
}

.kick-decline:hover {
  background-color: #a71111;
}

.round-container {
  display: none;
  z-index: 2;
  animation: round-in 1.2s ease-in forwards;
}

.round {
  width: 50px;
  height: 50px;
  border: 1px solid #abd3fd;
  border-radius: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  scale: 6.5;
  display: none;
}

.round-1 {
  animation: spin1 5s linear infinite;
}

.round-2 {
  animation: spin2 5s linear infinite;
}

.round:before,
.round:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
}

.round-1:before,
.round-1:after {
  border-top: 1px solid #abd3fd;
  border-right: 1px solid #abd3fd;
  position: absolute;
  top: 5px;
  left: 3px;
}

.round-1:after {
  top: 38px;
  left: 42px;
  border: none;
  border-bottom: 1px solid #abd3fd;
  border-left: 1px solid #abd3fd;
}

.round-2:before,
.round-2:after {
  border: none;
  border-bottom: 1px solid #abd3fd;
  border-left: 1px solid #abd3fd;
  position: absolute;
  top: 3px;
  left: 5px;
}

.round-2:after {
  border: none;
  top: 43px;
  left: 37px;
  border-top: 1px solid #abd3fd;
  border-right: 1px solid #abd3fd;
}

@keyframes round-in {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.3098039216);
}

*::-webkit-scrollbar-thumb {
  background: rgba(248, 26, 26, 0.5529411765);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(248, 26, 26, 0.6431372549);
}

/* https://codepen.io/rn404/pen/nZZjEG */
.my-card * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.my-card {
  width: 116px;
  height: 178px;
  float: left;
  background: #fff;
  border-radius: 5px;
  display: table;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 -20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 80px;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 4px 4px 0 #000000;
  box-shadow: 0 0 10px #aaaaaa;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.my-card:hover {
  zoom: 1.2;
  margin-bottom: -40px;
  z-index: 19022;
}

.my-card .inner {
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  overflow: hidden;
}

.my-card .mark {
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  margin: auto;
  padding: 0 26px;
  border-radius: 100px 60px/120px 60px;
  line-height: 1.4;
}

.my-card .mark.default {
  padding: 38px 0;
  background: #c62437;
}

.my-card .mark.default .uno-default {
  transform: rotate(336deg);
  font-size: 50%;
  color: #ebce2c;
}

.num-plus4 .inner .mark,
.num-plus2 .inner .mark {
  padding: 0 8.5px;
}

.num-block .inner .mark {
  font-size: 70%;
  padding: 20px 4.75px;
}

.num-reverse .inner .mark {
  padding: 0 10px;
}

.my-card .change {
  width: 86px;
  height: 130px;
  border-radius: 50%;
  transform: skewX(345deg);
  overflow: hidden;
  font-size: 0px;
  border: 2px solid white;
}

.my-card .change .segment {
  width: 42px;
  height: 65px;
  display: inline-block;
}

.num-change .mark {
  padding: 8px 4.75px;
}

.my-card:before,
.my-card:after {
  display: inline-block;
  position: absolute;
  line-height: 0;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 2px 2px 0 #000000;
}

.my-card:before {
  top: 15px;
  left: 10px;
}

.my-card:after {
  bottom: 15px;
  right: 10px;
  -webkit-transform: rotate(180deg);
}

.my-card.blue {
  color: var(--card-blue);
}

.my-card.blue .inner,
.segment.blue {
  background: var(--card-blue);
}

.my-card.green {
  color: var(--card-green);
}

.my-card.green .inner,
.segment.green {
  background: var(--card-green);
}

.my-card.red {
  color: var(--card-red);
}

.my-card.red .inner,
.segment.red {
  background: var(--card-red);
}

.my-card.yellow {
  color: var(--card-yellow);
}

.my-card.yellow .inner,
.segment.yellow {
  background: var(--card-yellow);
}

.my-card.black {
  color: #000;
}

.my-card.black .inner {
  background-color: #000;
}

/* Generate CSS rules for elements with class names .num-1 through .num-118 */
/* Loop to generate CSS rules */
.my-card.num-1:before,
.my-card.num-1:after {
  content: "1";
}

.my-card.num-2:before,
.my-card.num-2:after {
  content: "2";
}

.my-card.num-3:before,
.my-card.num-3:after {
  content: "3";
}

.my-card.num-4:before,
.my-card.num-4:after {
  content: "4";
}

.my-card.num-5:before,
.my-card.num-5:after {
  content: "5";
}

.my-card.num-6:before,
.my-card.num-6:after {
  content: "6";
}

.my-card.num-7:before,
.my-card.num-7:after {
  content: "7";
}

.my-card.num-8:before,
.my-card.num-8:after {
  content: "8";
}

.my-card.num-9:before,
.my-card.num-9:after {
  content: "9";
}

.my-card.num-10:before,
.my-card.num-10:after {
  content: "10";
}

.my-card.num-11:before,
.my-card.num-11:after {
  content: "11";
}

.my-card.num-12:before,
.my-card.num-12:after {
  content: "12";
}

.my-card.num-13:before,
.my-card.num-13:after {
  content: "13";
}

.my-card.num-14:before,
.my-card.num-14:after {
  content: "14";
}

.my-card.num-15:before,
.my-card.num-15:after {
  content: "15";
}

.my-card.num-16:before,
.my-card.num-16:after {
  content: "16";
}

.my-card.num-17:before,
.my-card.num-17:after {
  content: "17";
}

.my-card.num-18:before,
.my-card.num-18:after {
  content: "18";
}

.my-card.num-19:before,
.my-card.num-19:after {
  content: "19";
}

.my-card.num-20:before,
.my-card.num-20:after {
  content: "20";
}

.my-card.num-21:before,
.my-card.num-21:after {
  content: "21";
}

.my-card.num-22:before,
.my-card.num-22:after {
  content: "22";
}

.my-card.num-23:before,
.my-card.num-23:after {
  content: "23";
}

.my-card.num-24:before,
.my-card.num-24:after {
  content: "24";
}

.my-card.num-25:before,
.my-card.num-25:after {
  content: "25";
}

.my-card.num-26:before,
.my-card.num-26:after {
  content: "26";
}

.my-card.num-27:before,
.my-card.num-27:after {
  content: "27";
}

.my-card.num-28:before,
.my-card.num-28:after {
  content: "28";
}

.my-card.num-29:before,
.my-card.num-29:after {
  content: "29";
}

.my-card.num-30:before,
.my-card.num-30:after {
  content: "30";
}

.my-card.num-31:before,
.my-card.num-31:after {
  content: "31";
}

.my-card.num-32:before,
.my-card.num-32:after {
  content: "32";
}

.my-card.num-33:before,
.my-card.num-33:after {
  content: "33";
}

.my-card.num-34:before,
.my-card.num-34:after {
  content: "34";
}

.my-card.num-35:before,
.my-card.num-35:after {
  content: "35";
}

.my-card.num-36:before,
.my-card.num-36:after {
  content: "36";
}

.my-card.num-37:before,
.my-card.num-37:after {
  content: "37";
}

.my-card.num-38:before,
.my-card.num-38:after {
  content: "38";
}

.my-card.num-39:before,
.my-card.num-39:after {
  content: "39";
}

.my-card.num-40:before,
.my-card.num-40:after {
  content: "40";
}

.my-card.num-41:before,
.my-card.num-41:after {
  content: "41";
}

.my-card.num-42:before,
.my-card.num-42:after {
  content: "42";
}

.my-card.num-43:before,
.my-card.num-43:after {
  content: "43";
}

.my-card.num-44:before,
.my-card.num-44:after {
  content: "44";
}

.my-card.num-45:before,
.my-card.num-45:after {
  content: "45";
}

.my-card.num-46:before,
.my-card.num-46:after {
  content: "46";
}

.my-card.num-47:before,
.my-card.num-47:after {
  content: "47";
}

.my-card.num-48:before,
.my-card.num-48:after {
  content: "48";
}

.my-card.num-49:before,
.my-card.num-49:after {
  content: "49";
}

.my-card.num-50:before,
.my-card.num-50:after {
  content: "50";
}

.my-card.num-51:before,
.my-card.num-51:after {
  content: "51";
}

.my-card.num-52:before,
.my-card.num-52:after {
  content: "52";
}

.my-card.num-53:before,
.my-card.num-53:after {
  content: "53";
}

.my-card.num-54:before,
.my-card.num-54:after {
  content: "54";
}

.my-card.num-55:before,
.my-card.num-55:after {
  content: "55";
}

.my-card.num-56:before,
.my-card.num-56:after {
  content: "56";
}

.my-card.num-57:before,
.my-card.num-57:after {
  content: "57";
}

.my-card.num-58:before,
.my-card.num-58:after {
  content: "58";
}

.my-card.num-59:before,
.my-card.num-59:after {
  content: "59";
}

.my-card.num-60:before,
.my-card.num-60:after {
  content: "60";
}

.my-card.num-61:before,
.my-card.num-61:after {
  content: "61";
}

.my-card.num-62:before,
.my-card.num-62:after {
  content: "62";
}

.my-card.num-63:before,
.my-card.num-63:after {
  content: "63";
}

.my-card.num-64:before,
.my-card.num-64:after {
  content: "64";
}

.my-card.num-65:before,
.my-card.num-65:after {
  content: "65";
}

.my-card.num-66:before,
.my-card.num-66:after {
  content: "66";
}

.my-card.num-67:before,
.my-card.num-67:after {
  content: "67";
}

.my-card.num-68:before,
.my-card.num-68:after {
  content: "68";
}

.my-card.num-69:before,
.my-card.num-69:after {
  content: "69";
}

.my-card.num-70:before,
.my-card.num-70:after {
  content: "70";
}

.my-card.num-71:before,
.my-card.num-71:after {
  content: "71";
}

.my-card.num-72:before,
.my-card.num-72:after {
  content: "72";
}

.my-card.num-73:before,
.my-card.num-73:after {
  content: "73";
}

.my-card.num-74:before,
.my-card.num-74:after {
  content: "74";
}

.my-card.num-75:before,
.my-card.num-75:after {
  content: "75";
}

.my-card.num-76:before,
.my-card.num-76:after {
  content: "76";
}

.my-card.num-77:before,
.my-card.num-77:after {
  content: "77";
}

.my-card.num-78:before,
.my-card.num-78:after {
  content: "78";
}

.my-card.num-79:before,
.my-card.num-79:after {
  content: "79";
}

.my-card.num-80:before,
.my-card.num-80:after {
  content: "80";
}

.my-card.num-81:before,
.my-card.num-81:after {
  content: "81";
}

.my-card.num-82:before,
.my-card.num-82:after {
  content: "82";
}

.my-card.num-83:before,
.my-card.num-83:after {
  content: "83";
}

.my-card.num-84:before,
.my-card.num-84:after {
  content: "84";
}

.my-card.num-85:before,
.my-card.num-85:after {
  content: "85";
}

.my-card.num-86:before,
.my-card.num-86:after {
  content: "86";
}

.my-card.num-87:before,
.my-card.num-87:after {
  content: "87";
}

.my-card.num-88:before,
.my-card.num-88:after {
  content: "88";
}

.my-card.num-89:before,
.my-card.num-89:after {
  content: "89";
}

.my-card.num-90:before,
.my-card.num-90:after {
  content: "90";
}

.my-card.num-91:before,
.my-card.num-91:after {
  content: "91";
}

.my-card.num-92:before,
.my-card.num-92:after {
  content: "92";
}

.my-card.num-93:before,
.my-card.num-93:after {
  content: "93";
}

.my-card.num-94:before,
.my-card.num-94:after {
  content: "94";
}

.my-card.num-95:before,
.my-card.num-95:after {
  content: "95";
}

.my-card.num-96:before,
.my-card.num-96:after {
  content: "96";
}

.my-card.num-97:before,
.my-card.num-97:after {
  content: "97";
}

.my-card.num-98:before,
.my-card.num-98:after {
  content: "98";
}

.my-card.num-99:before,
.my-card.num-99:after {
  content: "99";
}

.my-card.num-100:before,
.my-card.num-100:after {
  content: "100";
}

.my-card.num-101:before,
.my-card.num-101:after {
  content: "101";
}

.my-card.num-102:before,
.my-card.num-102:after {
  content: "102";
}

.my-card.num-103:before,
.my-card.num-103:after {
  content: "103";
}

.my-card.num-104:before,
.my-card.num-104:after {
  content: "104";
}

.my-card.num-105:before,
.my-card.num-105:after {
  content: "105";
}

.my-card.num-106:before,
.my-card.num-106:after {
  content: "106";
}

.my-card.num-107:before,
.my-card.num-107:after {
  content: "107";
}

.my-card.num-108:before,
.my-card.num-108:after {
  content: "108";
}

.my-card.num-109:before,
.my-card.num-109:after {
  content: "109";
}

.my-card.num-110:before,
.my-card.num-110:after {
  content: "110";
}

.my-card.num-111:before,
.my-card.num-111:after {
  content: "111";
}

.my-card.num-112:before,
.my-card.num-112:after {
  content: "112";
}

.my-card.num-113:before,
.my-card.num-113:after {
  content: "113";
}

.my-card.num-114:before,
.my-card.num-114:after {
  content: "114";
}

.my-card.num-115:before,
.my-card.num-115:after {
  content: "115";
}

.my-card.num-116:before,
.my-card.num-116:after {
  content: "116";
}

.my-card.num-117:before,
.my-card.num-117:after {
  content: "117";
}

.my-card.num-118:before,
.my-card.num-118:after {
  content: "118";
}

.my-card.num-plus2:before,
.my-card.num-plus2:after {
  content: "+2";
}

.my-card.num-plus4:before,
.my-card.num-plus4:after {
  content: "+4";
}

.my-card.num-reverse:before,
.my-card.num-reverse:after {
  content: "↩";
}

.my-card.num-block:before,
.my-card.num-block:after {
  content: "🚫";
}/*# sourceMappingURL=style.css.map */